/* Home.module.css (add/update these styles) */
.searchContainer {
  width: 25%;
  /* Keep the container width to 25% */
  padding: 10px 20px;
  background-color: #f0f2f5;
  border-bottom: 1px solid #e9edef;
  position: absolute;
  /* Position it on the left side of the screen */
  left: 0;
  /* Align it to the left */
}

.searchForm {
  display: flex;
  align-items: center;
  width: 25%;
  /* Make the form take up the entire width of the container */
}

.searchInput {
  width: 100%;
  /* Input field will take up the full width of the form */
  padding: 12px 65px 12px 20px;
  background: #ffffff;
  border: 1px solid #e9edef;
  border-radius: 8px;
  font-size: 15px;
  color: #3b4a54;
  box-shadow: 0 2px 4px rgba(11, 20, 26, 0.08);
  transition: all 0.3s ease-in-out;
}

.searchInput::placeholder {
  color: #667781;
  font-weight: 400;
}

.searchButton {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #667781;
}

.searchButton svg {
  width: 20px;
  height: 20px;
}

/* Suggestions Dropdown */
.suggestions {
  position: flex;
  /* Position relative to the input field */
  top: 48px;
  /* Adjust position to align below input */
  width: 25%;
  /* Suggestions take up the full width of the search container */
  background-color: white;
  border: 1px solid #e9edef;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestionItem {
  padding: 12px 20px;
  cursor: pointer;
  color: #3b4a54;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.suggestionItem:hover {
  background-color: #f1f1f1;
}

/* Update existing top-left rule */
.top-left {
  display: block;
  position: relative;
  /* Necessary to display search form properly */
}

/* Update media query */
@media (max-width: 600px) {
  .searchContainer {
    padding: 10px 15px;
    width: 25%;
    /* Full width for smaller screens */
  }

  .searchInput {
    padding: 10px 55px 10px 15px;
    font-size: 14px;
  }

  .searchButton {
    right: 10px;
  }
}
